@use '../utils/variables' as v;
@use '../utils/mixins' as m;

$cmin: map-get(v.$cssgrid, cmin);
$cmax: map-get(v.$cssgrid, cmax);

#wrapper {
    width: 100vw;
    height: 100vh;
    @include m.breakpoint_range($from: desktop) {
      display: grid;
      grid-template-columns: minmax($cmin, $cmax) auto;
      grid-template-rows: auto;
    }
    @include m.breakpoint_range($from: tablet, $to: desktop) {
      display: grid;
      grid-template-columns: minmax($cmin, $cmax) auto;
      grid-template-rows: auto;
    }
    @include m.breakpoint_range($from: phone, $to: tablet) {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
    }
    @include m.breakpoint_range($to: phone) {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
    }
}

main {
  @include m.breakpoint_range($from: phone, $to: tablet) {
    width: 100vw;
    display: flex;
    flex-grow: 1;
  }
  @include m.breakpoint_range($to: phone) {
    width: 100vw;
    display: flex;
    flex-grow: 1;
  }
  .main-content {
    @include m.breakpoint_range($from: phone, $to: tablet) {
      width: 100vw;
    }
    @include m.breakpoint_range($to: phone) {
      width: 100vw;
    }
    height: 100%;
    background-color: map-get(v.$colors, bgcolor);
  }
}
  