@use '../utils/variables' as v;
@use '../utils/mixins' as m;

$cmin: map-get(v.$cssgrid, cmin);
$cmax: map-get(v.$cssgrid, cmax);

#wrapper {
    height: 100vh;
    width: 100%;
    @include m.breakpoint_range($from: desktop) {
      display: grid;
      grid-template-columns: minmax($cmin, $cmax) auto;
      grid-template-rows: auto;
    }
    @include m.breakpoint_range($from: tablet, $to: desktop) {
      display: grid;
      grid-template-columns: minmax($cmin, $cmax) auto;
      grid-template-rows: auto;
    }
    @include m.breakpoint_range($from: phone, $to: tablet) {
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
    }
    @include m.breakpoint_range($to: phone) {
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
    }
}
nav {
  z-index: 1;
}
main {
  z-index: 0;
  width: 100%;
  height: 100%;
  .main-content {
    height: 100%;
    background-color: map-get(v.$colors, bgcolor);
  }
}
  