@use 'variables' as vars;

@mixin breakpoint_range($mtype: screen, $from: false, $to: false){
    // verify params
    @each $k in ($from, $to){
        @if $k and not map-has-key(vars.$breakpoints, $k){ 
            @error "Must select from breakpoint values: #{map-keys(vars.$breakpoints)}";
        }
    }
    // build condition list
    $conditions: $mtype;
    @each $k, $v in (min-width: $from, max-width: $to){
        @if $v {
            $arg: " and (#{$k}: #{map-get(vars.$breakpoints, $v)})";
            $conditions: $conditions + $arg;
        }
    }
    @media #{$conditions} { @content; }
}