$colors: (
    bgcolor: #424242,
    navcolor: #363636,
    capscolor: #121212,
    cardcolor: #505050,
    bordercolor: #606060,
    textcolor: #EEEEEE,
    subtextcolor: #BBBBBB,
    iconcolor: #888888,
    vlinkcolor: rgb(42, 216, 216),
    alinkcolor: rgb(234, 64, 234)
);

$fontfamily:  'Roboto', 'Arial Narrow', Arial, Helvetica, sans-serif;
$fontfamily-helvetica: Helvetica, sans-serif;
$font: (
    fontsize: 18px,
    fontnavsize: 14px,
    fontfamily: $fontfamily
);

$cssgrid: (
    cmin: 200px, 
    cmax: 240px
);

// media query
$breakpoints: (
    phone: 640px, 
    tablet: 768px, 
    desktop: 1024px
) !default;

$leftgrad: linear-gradient(to left, rgba(0,0,0,1), rgba(0,0,0,.25));