// css grid
$colors: (
    bgcolor: #484848,
    navcolor: #363636,
    bordercolor: #606060,
    textcolor: #EEEEEE,
    iconcolor: #888888,
    vlinkcolor: rgb(42, 216, 216),
    alinkcolor: rgb(234, 64, 234)
);

$fontfamily:  "Helvetica", 
              Arial, 
              sans-serif;

$font: (
    fontsize: 18px,
    fontnavsize: 10px,
    fontfamily: $fontfamily
);

$cssgrid: (
    cmin: 160px, 
    cmax: 160px
);

// media query
$breakpoints: (
    phone: 640px, 
    tablet: 768px, 
    desktop: 1024px
) !default;