$colors: (
    bgcolor: #424242,
    navcolor: #363636,
    cardcolor: #505050,
    bordercolor: #606060,
    textcolor: #EEEEEE,
    subtextcolor: #BBBBBB,
    iconcolor: #888888,
    vlinkcolor: rgb(42, 216, 216),
    alinkcolor: rgb(234, 64, 234)
);

$fontfamily:  "Arial Narrow", Arial, Helvetica, sans-serif;
$fontfamily-helvetica: "Helvetica", sans-serif;
$font: (
    fontsize: 16px,
    fontnavsize: 10px,
    fontfamily: $fontfamily
);

$cssgrid: (
    cmin: 160px, 
    cmax: 160px
);

// media query
$breakpoints: (
    phone: 640px, 
    tablet: 768px, 
    desktop: 1024px
) !default;