@use 'utils/variables' as v;
@use 'utils/mixins' as m;

#appLayout {
    display: grid;
    @include m.breakpoint_range($to: phone) {
      grid-template-rows: minmax(180px, 200px) auto;
    }
    @include m.breakpoint_range($from: phone, $to: tablet) {
      grid-template-rows: minmax(180px, 200px) auto;
    }
    @include m.breakpoint_range($from: tablet, $to: desktop) {
      grid-template-columns: minmax(180px, 200px) auto;
    }
    @include m.breakpoint_range($from: desktop) {
      grid-template-columns: minmax(180px, 200px) auto;
    }
}
  