@use '../utils/mixins' as m;
@use '../utils/variables' as v;

#about {
    display: flex;
    flex-direction: column;
    justify-content: center;
    .card {
        display: flex;
        margin: 0em 1em;
        margin-top: 1em;
        padding: 1em;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        background-color: map-get(v.$colors, cardcolor);
        min-height: 144px;
        max-width: 720px;
        @include m.breakpoint_range($to: phone) {
            flex-direction: column;
        }
        img {
            width: 128px;
            height: 128px;
            border-radius: 50%;
        }
        .card-content {
            @include m.breakpoint_range($from: desktop) {
                margin-left: 1em;
            }
            @include m.breakpoint_range($from: tablet, $to: desktop) {
                margin-left: 1em;
            }
            @include m.breakpoint_range($from: phone, $to: tablet) {
                margin-left: 1em;
            }
            @include m.breakpoint_range($to: phone) {
                margin-left: 0em;
                margin-top: 1em;
            }
        }
        p { max-width: 540px; }
    }
    .icons svg {
        width: 32px;
        height: 32px;
    }
}