@use '../utils/mixins' as m;
@use '../utils/variables' as v;

#about {
    height: fit-content;
    padding-top: 50px;
    padding-bottom: 1em;
    .card img {
        width: 128px;
        height: 128px;
        border-radius: 50%;
    }
    .card {
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        background-color: map-get(v.$colors, cardcolor);
        min-height: 180px;
        max-width: 1080px;
        @include m.card-common();
        @include m.breakpoint_range($to: phone) {
            flex-direction: column;
        }
        .card-content {
            @include m.breakpoint_range($from: desktop) {
                margin-left: 1em;
            }
            @include m.breakpoint_range($from: tablet, $to: desktop) {
                margin-left: 1em;
            }
            @include m.breakpoint_range($from: phone, $to: tablet) {
                margin-left: 1em;
            }
            @include m.breakpoint_range($to: phone) {
                margin-left: 0em;
            }
            p { 
                max-width: 720px;
                padding: .25em;
                line-height: 1.25;
            }
            .p-content {
                text-align: justify;
            }
        }
    }

    .card-first {
        margin-top: 0em;
        margin-bottom: 50px;
    }
    .card-project {
        @include m.card-common();
        position: relative;
        overflow: hidden;
        display: flex;
        @include m.breakpoint_range($from: desktop) {
            min-height: 360px;
        }
        @include m.breakpoint_range($from: tablet, $to: desktop) {
            min-height: 360px;
        }
        @include m.breakpoint_range($from: phone, $to: tablet) {
            min-height: 240px;
        }
        @include m.breakpoint_range($to: phone) {
            min-height: 240px;
        }
        max-width: calc(1080px + 2em);
        padding: 0em;
        z-index: 0;
        .card-thumbnail img {
            width: 100%;
            height: 100%;
            border-radius: 0%;
        }
        .card-thumbnail {
            position: absolute;
            left: 0;
            width: 75%;
            min-height: inherit;
            background-position: top left;
            background-repeat: no-repeat;
            background-size: cover;
            transition: transform .2s;
            z-index: 1;
                &:hover {
                    transform: scale(1.025, 1.025);
                }
        }
        .card-overlay {
            position: absolute;
            right: 0;
            width: 25%;
            display: flex;
            min-height: inherit;
            flex-direction: column;
            justify-content: center;
            background-color: map-get(v.$colors, capscolor);
            z-index: 2;
            p {
               font-size: min(calc(10px + 1vw), 24px);
                padding: 0em 1em;
                a {
                    text-decoration: none;
                    color: map-get(v.$colors, vlinkcolor);
                    transition: color .1s;
                    &:hover, &:active {
                        color: map-get(v.$colors, alinkcolor)
                    }
                }
            }
        }
    }
}