@use '../utils/mixins' as m;
@use '../utils/variables' as v;

#about {
    display: flex;
    flex-direction: column;
    justify-content: center;
    .card {
        display: flex;
        margin: 0em 1em;
        margin-top: 1em;
        padding: 1em;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        background-color: map-get(v.$colors, cardcolor);
        min-height: 180px;
        max-width: 720px;
        @include m.breakpoint_range($to: phone) {
            flex-direction: column;
        }
        img {
            width: 128px;
            height: 128px;
            border-radius: 50%;
        }
        .card-content {
            @include m.breakpoint_range($from: desktop) {
                margin-left: 1em;
            }
            @include m.breakpoint_range($from: tablet, $to: desktop) {
                margin-left: 1em;
            }
            @include m.breakpoint_range($from: phone, $to: tablet) {
                margin-left: 1em;
            }
            @include m.breakpoint_range($to: phone) {
                margin-left: 0em;
                margin-top: 1em;
            }
        }
        p { max-width: 540px; }
    }
    .card-header {
        min-height: 72px;
        .icons {
            display: grid;
            width: 100%;
            grid-template-columns: 1fr 1fr 1fr;
            .icon-col {
                display: flex;
                flex-direction: column;
                .icon-row {
                    width: 100%;
                    display:flex;
                    flex-direction: row;
                    align-items: center;
                    padding: .1em;
                    p {
                        font-size: 12px;
                        padding-left: .5em;
                        transition: transform .2s, color .2s;
                        color: map-get(v.$colors, subtextcolor);
                        &:hover {
                            transform: translate(5px, 0px);
                            color: map-get(v.$colors, textcolor);
                        }
                    }
                    svg {
                        width: 24px;
                        height: 24px;
                        transition: transform .2s;
                        &:hover {
                            transform: scale(1.25, 1.25);
                        }
                    }
                }
            }
        }
    }
}