@use '../utils/mixins' as m;
@use '../utils/variables' as v;

#home-title {
    a {
        line-height: 0;
        text-decoration: none;
        color: black;
    }
    @include m.breakpoint_range($from: desktop) {
        font-size: max(6rem, 7.5vw);
    }
    @include m.breakpoint_range($from: tablet, $to: desktop) {
        font-size: max(6rem, 7.5vw);
    }
    @include m.breakpoint_range($from: phone, $to: tablet) {
        font-size: 4rem;
    }
    @include m.breakpoint_range($to: phone) {
        font-size: 4rem;
    }
    font-family: 'Poiret One', cursive;
    position: relative;
    top: 44%;
    text-align: center;
    text-shadow: -1px 1px 4px black;
    transition: transform .25s;
    z-index: 2;
    &:hover, &:active {
        transform: scale(1.1, 1.1);
        transform: translateY(-4px);
        cursor: pointer;
    }
}

#home-img-overlay {
    height: 100%;
    background-color: white;
    z-index: 1;
}

#home-img {
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-blend-mode: color-dodge;
    transition: opacity .25s;
    opacity: .8333;
    z-index: 0;
}
