@use '../utils/variables' as v;

#sidebar {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: v.$navcolor;
    ul{
        padding: .25em 0;
        li {
            padding: .25em 0;
            text-align: center;
            a {
                &:link, &:visited {
                    text-decoration: none;
                    color: magenta;
                }
                &:hover, &:active {
                    text-decoration: none;
                    color: blueviolet;
                }
            }
        }
    }
}