@use '../utils/mixins' as m;
@use '../utils/variables' as v;

#sidebar {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
    line-height: 0;
    background-color: map-get(v.$colors, navcolor);
    #sidebar-brand {
        align-self: center;
        padding: .5em 0;
        a {
            font-size: 0; // remove unwanted height
            img {
                height: 100px;
                width: 100px;
                border-radius: 50%;
                padding: 0em 0;
            }
        }
    }
    #sidebar-nav {
        li {
            @include m.breakpoint_range($from: phone, $to: tablet) {
                border-top: 1px solid map-get(v.$colors, bordercolor);
            }
            @include m.breakpoint_range($to: phone) {
                border-top: 1px solid map-get(v.$colors, bordercolor);
            }
            text-align: center;
            padding: .5em 0;
            line-height: 1em;
            font-size: map-get(v.$font, fontnavsize);
            a {
                transition: color .1s;
                position: relative;
                top: 1px; // 1px vert offset
                &:link, &:visited {
                    text-decoration: none;
                    color: map-get(v.$colors, vlinkcolor);
                }
                &:hover, &:active {
                    text-decoration: none;
                    color: map-get(v.$colors, alinkcolor);
                }
            }
        }
    }
    #sidebar-icons {
        @include m.breakpoint_range($from: phone, $to: tablet) {
            border-top: 1px solid map-get(v.$colors, bordercolor);
        }
        @include m.breakpoint_range($to: phone) {
            border-top: 1px solid map-get(v.$colors, bordercolor);
        }
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        line-height: .5;
        padding: 1em .5em;
        .sidebar-icon {
            padding: 0em .1em;
            a {
                font-size: 0; // remove unwanted height
                svg {
                    width: 16px;
                    height: 16px;
                    transition: fill .1s;
                    fill: map-get(v.$colors, iconcolor);
                }
                &:hover, &:active {
                    svg {
                        fill: map-get(v.$colors, textcolor);
                    }
                }
            }
        }
    }
}